<html>
    <body>
        <form action="/weather/location">
            <input type="text" placeholder='Name' name="name">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>